*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: royalblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: seashell;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;

}
.form{
    padding: 20px 30px;

}
.heading{
    background-color: #fff;
    
}
.heading h2{
    padding: 20px;
    text-align: center;
    background-color: #fff;
}
.form-container{
    margin-bottom:10px;
    padding-bottom: 10px;

}
.form-container label{
    display: block;
    margin-bottom:5px ;
}
.form-container input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #f0f0f0;
}

