*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(110deg,rgb(248, 179, 233),rgb(100, 3, 84));
    min-height: 100vh;
}
h1,form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
h1{
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
}
form input,
form button{
 padding: 10px;
 font-size: 25px;
 outline: none;
 border: none;
 background: white;
}

form button{
   
    background-color: white;
    cursor: pointer;
     
}
form button:hover{
    
    background-color: skyblue;
    color: white;
}

