*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to left,rgb(241, 240, 125),rgb(241, 167, 179));
    margin: 0;
    padding: 0;

}
.main-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-shadow: 2px 3px #ff00b3;
    color: rgb(68, 4, 54);
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
}
.form-1{ 
    background-color: rgba(158, 221, 240, 0.877);
    width:30%;
   box-shadow: rgb(185, 185, 185) 2px 2px 2px 2px;
}
.form-1 .sec-1{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to right,rgba(30, 30, 233, 0.808),rgb(112, 199, 233));
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 10px;

}
.form-1 .sec-1 h3{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
    margin: 25px;

}
.form-1 .sec-1 .icon i{
    color: white;
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.input-template-1{
    padding-left: 10px;
    padding-right: 10px;
    
}
.input-template-1 input{
    border: none;
    background: transparent;
    padding: 10px;
    width: 100%;
   font-style: italic;
}

.input-template-1 div{
    border-bottom: 1px solid rgba(95, 95, 95, 0.815);
    
}

.forgot-template-1 a{
    float: right;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
}
.forgot-template-1 a:hover{
    text-decoration: underline;
    color: blue;
}
.footer{
    margin-top: 80px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;

}
.footer input {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(59, 54, 54);
    color: white;
    margin: 10px;
    border: 2px solid rgb(59, 54, 54);
    

}
.footer input:hover{
    background-color: rgb(255, 0, 0);
    border: 2px solid red;
}
.footer label a{
    color: black;
    text-decoration: none;
}
.footer label a:hover{
    color: blue;
    text-decoration: underline;
}
/* css for 2nd */
.form-2{
    width: 30%;
    background-color: rgb(247, 247, 149);
    box-shadow: rgb(185, 185, 185) 2px 2px 2px 2px;
}
.sec-2 h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    margin: 25px;
}
.input-template-2{
    padding-left: 10px;
    padding-right: 10px;
    
}
.input-template-2 input{
    background: transparent;
    border: none;
    padding: 10px;
    width: 100%;
   font-style: italic;
}
.input-template-2 div{
    border-bottom: 1px solid rgba(95, 95, 95, 0.815);
}
.chk-box{
    padding: 10px;
}
.button-template-2{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.button-template-2 input{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    
}
.button-template-2 input:hover{
        background-color:  rgb(247, 247, 149);
        color: black;
        cursor: pointer;
}
.form-2 .footer-template-2 .icon{
    background: black;
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 20px;
}
.form-2 .footer-template-2 .icon i{
    letter-spacing: 20px; 
    color: white;

}
.form-2 .footer-template-2 .icon i:hover{
    color: rgb(247, 247, 149);
    cursor: pointer;
    transform: scale(1.5);
}
/* css for 3rd */
.form-3{
    width: 30%;
    background-color: rgb(221, 255, 228);
    box-shadow: rgb(185, 185, 185) 2px 2px 2px 2px;
}
.sec-3 h3{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
  margin: 25px;
  color: rgb(5, 88, 5);
}
.input-template-3{
    padding-left: 10px;
    padding-right: 10px;
}
.input-template-3 label{
    color: rgb(5, 88, 5);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}

.input-template-3 input{
    border: none;
    background: transparent;
    margin-top: 10px;
   width: 100%;
    font-style: italic;
    padding: 10px;
}
.input-template-3 div{
    border-bottom: 1px solid rgba(95, 95, 95, 0.815);
    margin-bottom: 10px;
}
.forgot-template-3 a{
    float: right;
    padding-right: 10px;
    color: rgb(5, 88, 5);
    text-decoration: none;
    margin-top: 25px;
}
.forgot-template-3 a:hover{
    text-decoration: underline;
}
.btn-template-3{
    text-align: center;

}
.btn-template-3 input{
    
    padding: 10px 20px;
   margin-top: 35px;
    background-color: rgb(5, 88, 5);
    color: white;
    border-radius: 30px;
    width: 90%;
    font-weight: 700;
    
}
.btn-template-3 input:hover{
    background-color:rgb(221, 255, 228) ;
    color: green;
    cursor: pointer;

}
.with{
    text-align: center;
    margin-top: 15px;
}
.form-3 .icon{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding:20px;
    color:white;
}
.form-3 .icon i{
    margin:10px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
    padding-right:20px;
    padding-left:20px;
    background: green;
}
.form-3 .icon i:hover{
    background: white;
    color: green;
    cursor: pointer;
}